---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Chi siamo | SkyMetric',
	description: 'Chi siamo - SkyMetric',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Chi siamo</h1>
			<p>
				Siamo un gruppo di giovani ragazzi professionisti del settore. Pronti a pensare e attuare qualsiasi cosa possibile per risolvere i vostri problemi!
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
</Layout>
