---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Chi siamo | SkyMetric',
	description: 'Chi siamo - SkyMetric',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Chi siamo</h1>
			<p>
				Siamo un gruppo di giovani professionisti con competenze nel mondo UAV, nello specifico offriamo servizi di ispezione, termografie, mappature e tutto quello che un drone nel cielo può offrire.
			</p>
			<p>
				La nostra forza sta nella passione per la tecnologia e nella voglia di innovare: affrontiamo ogni progetto con entusiasmo, curiosità e precisione, combinando competenze tecniche e creatività per offrire soluzioni realmente efficaci.
			</p>
			<p>
				Crediamo che ogni problema possa essere risolto se affrontato con la giusta prospettiva, la nostra è quella del cielo.
			</p>
			<p>
				Con strumenti top e un approccio sempre orientato ai risultati, trasformiamo dati e immagini in informazioni chiare e utili per chi, come voi, ha bisogno di informazioni rapide e sicure.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
</Layout>
