---
import { Container, FeatureCard } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>I nostri servizi</h2>
			<p>
				qui troverai elenco servizi 
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-3" title="Ispezioni aeree" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-2" title="Mappatura 3d" imgSrc="/assets/images/home/screenshots/zenmuse-l2">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-1" title="Termografie" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-4" title="Concimazioni campi e servizi agricoli" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Pagine informative</h2>
			<p>
			qui trovi informazioni su di noi 
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/company/about" title="Chi siamo" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="/company/contact" title="Contattaci" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard
					href="/company/legal"
					imgSrc="/assets/images/home/screenshots/legal"
						title="Informazioni legali"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>

</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
