---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';

const selectOptions = [
  "Passaparola",
  "Social Media",
  "Email",
  "Ricerca Google",
]

---

<form name="Contact Form" method="POST" action="/contact-thank-you">
  <FormInput type="text" label="Name" name="Name" placeholder="Mario Rossi" />
  <FormInput type="email" label="Email" name="Email" placeholder="info@skymetric.it" />
  <FormSelect label="Come hai sentito parlare di noi?" options={selectOptions} />
  <FormTextarea label="Messaggio" name="Message" placeholder="Il tuo messaggio..." />
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>